@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');
@import "tailwindcss";

:root{
    font-family: 'Ancizar Sans', system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}